<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="URL" value="https://blazedemo.com/"/>
  <parameter name="departureCity" value="Paris"/>
  <parameter name="arrivalCity" value="Rome"/>
  <test name="Test">
    <classes>
      <class name="tests.FlightBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
